body, html {
    color:#444;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-color:orangered;
}

.full-card {
    background-color: rgb(209, 235, 252);
    position: relative;
    overflow: hidden;
    margin: 3% 6% 6% 3%;
    border: black solid 2px;
    border-radius: 20px;
    box-shadow: 25px 25px 0 #333;
    padding: 2.5rem;

    border: 1px solid;
    padding: 10px;
    box-shadow: 4px 4px #00A4BD, 8px 8px #FF7A59, 12px 12px #334758;
}

.main-card, .about  {
    /* height: 51vh; */
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: clamp(2rem, 1rem + 5vw, 4rem);
    margin: 0;
    padding: 1rem;
}

h2 {
    font-size: clamp(1.5rem, 1.7 + 5vw, 2rem);
    border: 2px dashed #888;
    border-style: dashed none none none;
    padding-top: 2rem;
}

.hero > h2 {
    border-style: none;
}

.about > h2 {
    width: 100%;
}

p {
    font-size: clamp(0.7rem, 0.9rem + 5vw, 1rem);
}

hr {
    border: 0;
    border-radius: 15px;
    background-color: #777;
    height: 15rem;
    width: 5px;
    margin: 0;
    
    /* border: 1px solid;
    padding: 10px;
    box-shadow: 4px 4px #00A4BD, 8px 8px #FF7A59, 12px 12px #334758; */
}

.code-slash {
    width: clamp(3rem, 10rem + 5vw, 30rem);
    padding-left: 5px;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects-section {
    display: grid;
    justify-content: center;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    margin-top: 25px;
}

.project-cards {
    background-color:#FFF;
    border: black solid 2px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #333;
    max-width: 23rem;
    max-height: 19rem;;
    margin: 10px;
    margin-top: 25px;
    padding: 25px 5px;

    /* border: 1px solid;
    padding: 10px;
    box-shadow: 4px 4px #00A4BD, 8px 8px #FF7A59, 12px 12px #334758; */
}

.projects-icons {
    max-width: 300px;
    border-radius: 5px;
}

.skills {
    display: flex;
    flex-direction: column;
    /* padding: 0 10rem; */
    text-align: center;
}

.skills-section {
    display: grid;
    justify-content: center;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-top: 25px;
}

.skills-cards {
    background-color:#FFF;
    border: black solid 2px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #333;
    max-width: 7rem;
    height: 6.5rem;
    margin-top: 25px;
    padding-top: 5px;
    
    /* border: 1px solid;
    padding: 10px;
    box-shadow: 4px 4px #00A4BD, 8px 8px #FF7A59, 12px 12px #334758; */
}

.skills-icons {
    max-width: 80px;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

footer {
    text-align: center;
}

.socials-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 35px 0;
}

.socials {
    width: 40px;
}

/* .linkedin {
    fill: #333;
} */

.small {
    color: #333;
}
